<p>Hello,</p>

{{h2 "Applicant Details"}}
<p>{{bold "First Name:"}} {{firstName}}</p>
<p>{{bold "Last Name:"}} {{lastName}}</p>
<p>{{bold "Email:"}} {{email}}</p>
<p>{{bold "Phone:"}} {{phone}}</p>

{{h2 "Applicant Address Details"}}
<p>{{bold "Address:"}} {{address1}} {{address2}}</p>
<p>{{bold "City:"}} {{city}}</p>
<p>{{bold "State:"}} {{state}}</p>
<p>{{bold "Zip Code:"}} {{zipCode}}</p>

{{h2 "Other Details"}}
<p>{{bold "Do you have a Public Adjuster License?"}} {{license}}</p>
<p>{{bold "Brief Summary of Experience:"}} {{experience}}</p>