<p>Hello,</p>

{{h2 "Client Details"}}
<p>{{bold "Name:"}} {{name}}</p>
<p>{{bold "Email:"}} {{email}}</p>
<p>{{bold "Phone:"}} {{phone}}</p>

{{h2 "Other Details"}}
<p>{{bold "Topic:"}} {{topic}}</p>
<p>{{bold "Message:"}} {{message}}</p>