<p>Hello,</p>

{{h2 "Client Details"}}
<p>{{bold "First Name:"}} {{firstName}}</p>
<p>{{bold "Last Name:"}} {{lastName}}</p>
<p>{{bold "Email:"}} {{email}}</p>
<p>{{bold "Phone:"}} {{phone}}</p>

{{h2 "Loss Address Details"}}
<p>{{bold "Address:"}} {{lossAddress1}} {{lossAddress2}}</p>
<p>{{bold "City:"}} {{lossCity}}</p>
<p>{{bold "State:"}} {{lossState}}</p>
<p>{{bold "Zip Code:"}} {{lossZipCode}}</p>

{{h2 "Mailing Address Details"}}
<p>{{bold "Address:"}} {{mailAddress1}} {{mailAddress2}}</p>
<p>{{bold "City:"}} {{mailCity}}</p>
<p>{{bold "State:"}} {{mailState}}</p>
<p>{{bold "Zip Code:"}} {{mailZipCode}}</p>

{{h2 "Policy Details"}}
<p>{{bold "Claim Type:"}} {{claimType}}</p>
<p>{{bold "Damage Type:"}} {{damageType}}</p>
<p>{{bold "Policy Type:"}} {{policyType}}</p>
<p>{{bold "Policy Number:"}} {{policyNumber}}</p>
<p>{{bold "Date of Loss:"}} {{lossDate}}</p>
<p>{{bold "Is this a total loss?"}} {{totalLoss}}</p>
<p>{{bold "Did you begin any repairs?"}} {{repairs}}</p>
<p>{{bold "Name of Contractor:"}} {{contractorName}}</p>
<p>{{bold "Phone Number of Contractor:"}} {{contractorPhone}}</p>
<p>{{bold "Do you have receipts for repairs?"}} {{receipts}}</p>