<p>Hello,</p>

{{h2 "Client Details"}}
<p>{{bold "First Name:"}} {{firstName}}</p>
<p>{{bold "Last Name:"}} {{lastName}}</p>
<p>{{bold "Email:"}} {{email}}</p>
<p>{{bold "Phone:"}} {{phone}}</p>

{{h2 "Mailing Address Details"}}
<p>{{bold "Address:"}} {{address1}} {{address2}}</p>
<p>{{bold "City:"}} {{city}}</p>
<p>{{bold "State:"}} {{state}}</p>
<p>{{bold "Zip Code:"}} {{zipCode}}</p>
<p>{{bold "Country:"}} {{country}}</p>